@import url('https://fonts.googleapis.com/css2?family=Epilogue');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--almost-white);
    font-family: Epilogue, sans-serif;
}

    header {
        display: grid;
        grid-template-columns: 10% 90%;
        padding: 1rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2rem 10rem;
    }

    footer {
        position: fixed;
        bottom: 1vh;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        font-size: 0.8rem;
        left: 0;
    }

@media screen and (max-aspect-ratio: 1) {
    header {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        background-color: var(--almost-white);
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
    }
    main {
        margin-block: 4rem;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
}